<img src="../../images/banners/python-basics.png" width="600"/>

# <img src="../../images/logos/python.png" width="23"/> List and Tuple Problems

## Problem 1

Write a Python program takes a list of integer numbers to do the following in sequence:
1. find the k largest numbers. Length of the list has to be greater than k.
2. sort the numbers by the sum of their digits.

For example:

k = 4 <br>
input: num_list = [170, 18, 115, 15, 256, 12, 1, 19] <br>
output: [115, 170, 19, 256]

## Solution:

In [ ]:
k = 4
num_list = [170, 18, 115, 15, 256, 12, 1, 19]
num_list = sorted(num_list, reverse=True)[:k]
sorted(num_list, key=lambda num: sum(int(digit) for digit in str(num)))

***

## Problem 2

You know that tuples are immutable, so you can not add new elements. By using merge of tuples with the + operator you can add an element and create a new tuple or you can override the original tuple.

We have a tuple nums = (1, 2, 3, 4, 5, 6, 7, 8, 9) <br>
Write a Python program to:
1. add an item 2500 to end of the tuple.
2. add (100, 200, 300) at index 3 of tuple.
3. remove item 5 from the tuple.

output:
1. add an item 2500 to end of tuple:<br> 
(1, 2, 3, 4, 5, 6, 7, 8, 9, 2500)

2. add (100, 200, 300) at index 3 of tuple: <br>
(1, 2, 3, 100, 200, 300, 4, 5, 6, 7, 8, 9)

3. remove item 5 from the tuple: <br>
(1, 2, 3, 4, 6, 7, 8, 9)

## Solution:

In [ ]:
nums = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print('original tuple: ')
print(nums)

#----------------------------------
new_nums1 = nums + (2500, )
print('\n1. add 2500 to end of tuple: ')
print(new_nums1)

#-------------------------------------------
new_nums2 = nums[:3] + (100, 200, 300) + nums[3:]
print('\n2. add (100, 200, 300) at index 3 of tuple: ')
print(new_nums2)

#----------------------------------------------
new_nums3 = nums[:4] + nums[5:]
print('\n3. remove item 5 from the tuple: ')
print(new_nums3)

***

## Problem 3

We have a list of tuples:
```python
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
```
Write a Python program to:
1. sort the list in descending order by float element of its tuples.
2. convert the sorted list to a dictionary so that its keys are the first tuple element and its values are the float of second element.

output:
1. sorted price: <br>
[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

2. dictionary of sorted price: <br>
{'item3': 24.5, 'item2': 15.1, 'item1': 12.2}

## Solution

In [ ]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

#---------------------------------------------------------
sorted_price = sorted(price, key=lambda x: float(x[1]), reverse=True)
print('\n1. sorted price: ')
print(sorted_price)

#---------------------------------------------------------
dict_price = {key: float(value) for key, value in sorted_price}
print('\n2. dictionary of sorted price:')
print(dict_price)

***

## Problem 4

Write a Python program to compute the element-wise sum of given tuples.

Example input:
```python
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
```

output:
```python
(6, 9, 8, 6)
```

## Solution:

In [ ]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
print("input:")
print(x)
print(y)
print(z)
print("\nelement-wise sum:")
result = tuple(map(sum, zip(x, y, z)))
print(result)

***

## Problem 5

Print "Z" from the nested data.
```python
nested_lst = [["Hat", "Glove", "Goggle"], ["Button", "Zipper", "Hook"]]
```

## Solution

In [ ]:
nested_lst = [["Hat", "Glove", "Goggle"], ["Button", "Zipper", "Hook"]]
print(nested_lst[1][1][0])

---

## Problem 6

Create a sorted list of tuples from lst1 and lst2 base on lst2 values.
```python
lst1 = ["Mike", "Danny", "Jim", "Annie"]
lst2 = [4, 12, 7, 19]
```
Output:
```python
[('Mike', 4), ('Jim', 7), ('Danny', 12), ('Annie', 19)]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-12-python-zip-function/

In [ ]:
lst1 = ["Mike", "Danny", "Jim", "Annie"]
lst2 = [4, 12, 7, 19]
sorted(list(zip(lst1,lst2)), key=lambda x:x[1])

---

## Problem 7

Using `map()` function to find the total sum of the absolute value of the given list elements.
```python
lst = [99.3890,-3.5, 5, -0.7123, -9, -0.003]
``` 
Output:  
117.6043

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-13-python-map-function/

## Solution

In [ ]:
lst = [99.3890,-3.5, 5, -0.7123, -9, -0.003]
sum(map(abs,lst))

---

## Problem 8

Using `map()` and `lambda` function create a list consisted of the number of occurence of both letters: A and a in the given list:
```python
lst = ["Alaska", "Alabama", "Arizona", "Arkansas", "Colorado", "Montana", "Nevada"]
```
Output:  
```python
[3, 4, 2, 3, 1, 2, 2]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-13-python-map-function/

## Solution

In [ ]:
lst = ["Alaska", "Alabama", "Arizona", "Arkansas", "Colorado", "Montana", "Nevada"]
list(map(lambda x: x.lower().count("a"), lst))

---

## Problem 9

Using `map()` and `lambda` function to add each elements of two given lists together.
```python
lst1 = [100, 200, 300, 400, 500]
lst2 = [1,10,100,1000,10000]
```
Output: 
```python
[101, 210, 400, 1400, 10500]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-13-python-map-function/

## Solution

In [ ]:
lst1 = [100, 200, 300, 400, 500]
lst2 = [1,10,100,1000,10000]
lst3 = list(map(lambda x,y: x+y, lst1, lst2))
print(lst3)

---

## Problem 10

Write a `map` function that adds **"Hello "** in front of each item in the given list.
```python
lst1 = ["Jane", "Lee", "Will", "Brie"]
```
Output:
```python
['Hello Jane', 'Hello Lee', 'Hello Will', 'Hello Brie']
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-13-python-map-function/

## Solution

In [ ]:
lst1 = ["Jane", "Lee", "Will", "Brie"]
list(map(lambda x: 'Hello ' + x , lst1))

---

## Problem 11

Use `filter()` function to filter the list so that only negative numbers are left.
```python
lst1 = [12, -1, 9, 8, -0.5, -0.2, -100]
```
Output:
```python
[-1, -0.5, -0.2, -100]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-14-python-filter-function/

## Solution

In [ ]:
lst1 = [12, -1, 9, 8, -0.5, -0.2, -100]
new_list = list(filter(lambda x: x < 0, lst1))
print(new_list)

---

## Problem 12

Use `filter` function to filter the even numbers so that only odd numbers are passed to the new list.
```python
lst1 = [22, 100, 19, 13, 11, 1, 4, 66]
```
Output:
```python
[19, 13, 11, 1]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-14-python-filter-function/

## Solution

In [ ]:
lst1 = [22, 100, 19, 13, 11, 1, 4, 66]
new_list = list(filter(lambda x: x % 2 != 0, lst1))
print(new_list)

---

## Problem 13

Use `filter` function to filter all the vowels in a given string. (delete them)
```python
text = "Winter Olympics in 2022 will take place in Beijing China"
```
Output:
```python
[19, 13, 11, 1]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-14-python-filter-function/

## Solution

In [ ]:
text = "Winter Olympics in 2022 will take place in Beijing China"
new_list = list(filter(lambda x: x.lower() not in 'aeoui', text))
print(''.join(new_list))

---

## Problem 14

Use `map()` , `filter()` and `lambda` functions to select the values are below 8000 and add 2000 to them.
```python
lst1 = [1000, 500, 600, 700, 5000, 90000, 17500]
```
Output:
```python
[3000, 2500, 2600, 2700, 7000]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-14-python-filter-function/

## Solution

In [ ]:
lst1 = [1000, 500, 600, 700, 5000, 90000, 17500]
under_8000 = filter(lambda x: x < 8000, lst1)
lst2 = list(map(lambda x: x + 2000, under_8000))
print(lst2)

---

## Problem 15

Using `lambda` and `sorted()` function, sort the list based on the remainder from dividing each element to 5 (From greater to smaller).
```python
lst1 = [1000, 50, 66, 101, 333, 9999, 19, 300, 200, 250]
```
Output:
```python
[9999, 19, 333, 66, 101, 1000, 50, 300, 200, 250]
```

Source link:  
https://holypython.com/intermediate-python-exercises/exercise-15-python-sorted-function/

## Solution

In [ ]:
lst1 = [1000, 50, 66, 101, 333, 9999, 19, 300, 200, 250]
lst2 = sorted(lst1, key = lambda x: x%5, reverse = True)
print(lst2)

---

## Problem 16

We have a list of numbers:
```python
num_list = [105, 110, 115, 120, 125, 130, 135, 140, 145, 150]
```
Perform the following tasks:
- print the first 5 elements.
- print the last element.
- print the last 5 elements.

Output:
```python
First 5 Elements:  [105, 110, 115, 120, 125]
Last Element:  150
Last 5 Elements:  [130, 135, 140, 145, 150]
```

## Solution

In [ ]:
num_list = [105, 110, 115, 120, 125, 130, 135, 140, 145, 150]
print('First 5 Elements: ', num_list[:5])
print('Last Element: ', num_list[-1])
print('Last 5 Elements: ', num_list[-5:])

---